html{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

body{
  font-family: 'Roboto', sans-serif;
  padding:0;
	margin:0;
}

h1,h2,h3,h4,h5,h6{
  margin:0;
  font-family: 'Playfair Display', serif;
}

*,

::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p{
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
}

a {
    text-decoration: none;
  }


.container {
    width: 100%;
    max-width:1440px;
    padding: 0 20px;
    margin: 0 auto;
}

/* -- Menu ------------------------------ */

header{
  padding-top:25px;
  width: 100%;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-bottom: 25px;
  font-size: 20px;
}

.menu-info{
  display: flex;
  /* width: 100%; */
}

.mobile_buttons{
  display: none;
}

.nav{
  display: flex;
  position: relative;
  padding-right: 50px;
}

.nav>a{
  padding: 0 20px;
}

.nav a{
  color:#5C5C5C;
  line-height: none;
}

.nav a i{
  color:#5C5C5C;
  font-size: 14px;
}

.nav a:hover{
  color: #FF5B00;
  transition: 0.2s linear;
}

.nav a:hover i{
  color: #FF5B00;
  transition: 0.2s linear;
}

  .mob-menu_btn{
    display: none;
    padding-left: 50px;
  }
  

  .close_btn{
    display: none;
    padding-left: 50px;
  }

.mob-menu{
  display: none;
}

.mob-menu .nav{
  display: none;
}

.drop_menu:hover .drop_menu  {
  display:block;	
  
}


.dropdown_menu-list{
  /* border:1px solid black; */
	position:absolute;
  /* padding: 0 20px; */
  /* padding-top:20px; */
  padding: 10px 0;
	margin-top:0;
  display:none;
  right: 130px;
  top:21px;
  background-color:#fff;
  list-style: none;
}

.dropdown_menu-list li{
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:10px;
}

.menu a b{
  color:#000;
  padding-right: 50px;
}

.menu-info a{
  align-self: center;
}

.social-networks{
  align-self: center;
}

.social-networks i{
  padding: 0 6px;
  color: #FF5B00;
}

/* .social-networks i:hover{
  color: #FF5B00;
  transition: 0.2s linear;
} */


/* ----------------- */

.header__inner_info{
  display: grid;
  grid-template-columns: 3fr 3.2fr 2.4fr;
  grid-template-rows: repeat(6,1fr);
}

.header__inner_info div:nth-child(1){
  /* grid-column-start: 1; */
  grid-row-start: 1;
  grid-row-end: 7;
}

.header__inner_info div:nth-child(2){
  grid-row-start: 1;
  grid-row-end: 3;
}

.header__inner_info div:nth-child(3){
  grid-row-start: 1;
  grid-row-end: 4;
}

.header__inner_info div:nth-child(4){
  grid-row-start: 3;
  grid-row-end: 7;
}

.header__inner_info div:nth-child(5){
  grid-row-start: 4;
  grid-row-end: 7;
}

.header__text-info_bg{
  background-image:url("../img/bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* width:100%; */
}

.header__pic-1{
  background-image:url("../img/man2.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* width:100%;
  height: 100%; */
}

.header__pic-2{
  background-image:url("../img/equip.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* width:100%;
  height: 100%; */
}

.header__video{
  background-image:url("../img/vidio_icon.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* width:100%;
  height: 100%; */
  /* position: relative; */
}

.header__video a img{
  position: absolute;
    top: 300px;
    right: 46px;
    left: 84%;
}

/* .backdrop {
  position: fixed;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  opacity: 0;
  transition: 0.3s ease;
} */

/* .header__video>a:hover + .backdrop{
  opacity: 1;
  left: 0;
} */

/* .video{
  position: fixed;
    margin-left: 35%;
    margin-top:100px;
} */



.iframe{
  position: relative;
}

.header__text-link{
  background-color: #FF5B00;
  height: 428px;
}

/* ------- */

.header__text-info{
  padding-top:100px;
  color:#fff;
  padding-right:48px;
  padding-left: 48px;
}

.header__text-info h1{
  line-height: 44px;
  font-size: 36px;
  padding-bottom: 50px;
}

.header__text-info p{
  line-height: 28px;
  font-size: 20px;
  color: #F2F2F2;
}

.header__text-link_inner{
  color:#fff;
  /* padding-top:130px; */
  padding: 130px 40px 0;
  line-height: 28px;
  font-size: 20px;
  
}

.header__text-link_inner p{
  font-weight: bold;
}

.header__text-link_inner a{
  color:#fff;
  
  
}

/* ----------------------------------------- */



.services{
  margin-top: 100px;
  margin-bottom: 100px;
}

.services__inner{
  font-size: 20px;
  font-weight: 28px;
}

.captions{
  text-align: center;
  width:100%;
  margin: 0 auto;
  max-width: 760px;
  color:#5C5C5C;
  padding-bottom: 50px;
}

.captions h1{
  font-size: 24px;
}

.services-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* grid-template-columns:1fr 1fr 1fr; 
  justify-items:center; */
}

.services-card{
  border:1px solid #fff;
  width:380px;
  padding:50px;
  margin-bottom:50px;
  box-shadow: 0 0 90px 2px rgba(122,122,122,0.3);
 
}

.services-card h4{
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
  padding-left: 10px;
}

.services-card:hover{
  border: 1px solid #FF5B00;
  transition: 0.2s linear;
}

.line{
  border-top: 1px solid #D3D3D3;
    height:150px;
    margin-top: 60px;
}

.line-list{
  margin:0 480px;
}

.spec_line{
  text-align: center;
    margin-bottom: 150px;
}



/* ---------------- */

.reviews{
  margin-bottom:100px;
  color:#5C5C5C;
}

.review_cards{
  display: flex;
  justify-content: space-between;
}

.review_card p{
  max-width: 400px;
  width:100%;
  grid-column-start: 1;
    grid-column-end: 3;
}


.card-main-info{
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
  padding-left: 20px;
  width:300px;
}

.card-main-info .line{
  margin:0;
  height: 0;
  border-color: #FF5B00;
}



/* ------------------------- */

.main-specialist__inner{
  display: flex;
  justify-content: end;
}

.main-specialist_bg {
  max-width:900px;
  width:100%;
}

.main-specialist_bg img{
  max-width:800px;
  width:100%;
}

.main-specialist_info{
  color:#5C5C5C;
  padding-top:100px;
  max-width:590px;
  width:100%
}

.main-specialist_info span{
  font-size: 8px;
  font-weight: bold;
}

.main-specialist_info a{
  font-size: 20px;
  color:#000;
  font-weight: bold;
}

/* ---------------------------- */

footer{
  color:#fff;
  background-color:#2E363D;
  padding-bottom: 100px;
}

.footer__inner{
  padding-top: 50px;
    padding-left: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.footer_left span{
  font-weight: normal;
}

.footer_left h1{
  padding-bottom: 150px;
}

.footer_left p{
  font-size: 16px;
  
}

.footer_left a{
  color:#fff;
}

.footer_right ul li a{
  color:#fff;
  font-size: 20px;
}

.footer_right ul {
  list-style: none;
  padding:0;
}

.footer_right ul li{
  padding-bottom:10px;

}

.footer_right .social-networks{
  padding-top:100px;
}

.footer_right .social-networks i{
  color:#fff;
}

.mobile-copyright{
  display:none;
}

/* --------------------CONTACTS PAGE----------------------- */

.contacts__inner_content{
  display:flex;
  justify-content: space-evenly;
}

.all_contacts{
  padding-top:100px;
  color: #5C5C5C;
}

.all_contacts .social-networks a i{
  color: #5C5C5C;
}

.all_contacts h3{
  font-family: 'Roboto', sans-serif;
}



.contacts{
  padding-top:100px;
  padding-bottom:100px;
  background-color:#F2F2F2;
}

.message-form{
  background: rgba(98, 72, 43, 0.15);
  padding-bottom: 100px;
}

.message-form__inner .captions{
  padding-top: 100px;
  text-align: center;

}

.message-form__inner_form{
  text-align: center;
}

.message-form__inner_form input{
  height: 56px;
  max-width:452px;
  width: 100%;
  margin-right: 20px;
  padding-left:20px;
  border:none;
  box-shadow: 0 0 5px 2px rgba(122,122,122,0.1);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.message-form__inner_form textarea{
  resize: none;
  margin-top:10px;
  margin-right: 20px;
  height:196px;
  max-width: 928px;
  width: 100%;
  padding-left: 20px;
  padding-top:20px;
  border:none;
  box-shadow: 0 0 5px 2px rgba(122,122,122,0.1);
  margin-bottom:20px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.form_btn{ 
  width: 100%;
  max-width: 928px;
  margin-right: 20px;
  
  padding-top: 20px;
  margin-top:10px;
  padding-bottom: 20px;
  background-color: #0094FF;
  color:#fff;
  border:none;
  font-size: 20px;
  text-transform: uppercase;
}

/* -------------About--------------------- */

.how{
  background-color:#F2F2F2;
  padding-bottom: 200px;
  padding-top: 100px;
  background-image:url("../img/dentist-tools.png");
  background-repeat:no-repeat;
  background-position: 100% 100%;
  background-size:35%;
}

.how__inner{
  width: 100%;
}

.how_info{
  display: flex;
  align-items:center;
  justify-content: center;
}

.how_info p{
  padding-left: 25px;
    width: 350px;
    color:#000;
    font-weight: bold;
}

.technology{
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.technology_cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
}

.technology_card{
  width:100%;
  max-width: 260px;
  padding-bottom:40px;
}


.staff{
  padding-bottom: 150px;
  padding-top: 50px;
}


.staff__inner_main{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.staff__inner_main img{
  padding-left: 10px;
}

.main-staff_info{
  padding-left:30px;
  width: 100%;
  max-width: 765px;
 
}

.main-staff_info .line{
  margin:0;
  height: 0;
  border-color:#FF5B00;
  width:260px;
}

.main-staff_info .social-networks i{
  color:#000;
  margin-bottom: 50px;
}

.btn-container{
  text-align: center;
}

.main-staff_info .btn-container{
  text-align: left;
}   


.button{
  border:1px solid #000;
  padding: 10px 100px;
  margin-top:40px;
  font-weight: bold;
  color:#000;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 5px;
}


.other-staff_cards{
  display: flex;
  justify-content: center;
}

.other-staff_card{
  padding-left:30px;
  width: 100%;
  max-width: 390px;
}

.other-staff_card img{
  width:100%;
}

.other-staff_card h1{
  padding-top:30px;
}

.other-staff_card .line{
  margin:0;
  height: 0;
  border-color:#FF5B00;
  width:260px;
}

.other-staff_card .social-networks i{
  color:#000;
  margin-bottom: 40px;
}


/* ------------------------dentistry------------------*/

.dentistry{
  padding-top:150px;
  background-color:#F2F2F2;
}

/* -----------------SEND FORM------------------- */


.send-form{
  display: none;
  padding:40px;
  width: 100%;
  width:548px;
  background-color:#fff;
  position: fixed;
  top:135px;
  left: 50%;
  margin-left: -265px;
}

.send-form img{
  float: right;
}

.form-opacity{
  display: none;
  height: 100%;
  background-color: rgb(0, 0, 0, .5);
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}



.form-info{
  font-size: 10px;
  line-height: 8px;
  text-align: left;

}

.form-info a{
  color:#0094FF;
  font-weight: bold;
}

.send-form p{
  margin-top: 0;
  padding-top: 0;
}

.send-form__inner input{
  max-width:500px;
  width: 100%;
  box-shadow:none;
  border-bottom: 1px solid;
}

.send-form__inner textarea{
  max-width:500px;
  width: 100%;
  box-shadow:none;
  border-bottom: 1px solid;
}

.send-form__inner .form_btn{
  max-width:500px;
  width: 100%;
}


/* ------------------------------ */

.specialist{
  padding-bottom: 100px;
  background-color: #F2F2F2;
}

.specialist__inner .captions{
  padding-top:100px;
}

.question{
  font-weight: bold;
  font-style: italic;
  color:#464646;
}

.text-info p{
  width:100%;
  max-width:1300px;
}

.left-side{
  float:left; 
  margin: 40px 100px 40px 0; 
}

.right-side{
  float: right; 
    margin: 40px 0 40px 100px;
}

.quote{
  background-image:url("../img/photo-quote.png");
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  padding-top:980px;
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
}

.mark-open{
  position: absolute;
    right: 470px;
    bottom: 110px;
}

.mark-close{
  position: absolute;
    bottom: 110px;
    left: 490px;
    transform: rotate(-180deg);
}


.quote p{
  text-align: center;
  margin:0 auto;
  color:#fff;
  line-height: 24px;
  padding-bottom: 100px;
  max-width: 890px;
  width:100%;
}

/* -------------MEDIA------------------ */


@media only screen and (max-width:980px){

  p{
    font-size: 100%;
  }

  .mob-menu .nav {
    padding-right: 0;
    font-size: 14px;
  }

  .dropdown_menu-list{
    right:100px;
  }

  .button{
    padding: 10px 50px;
  }

  .staff__inner_main img {
    padding-left: 10px;
    width: calc(100%/2);
    height: calc(100%/2);
}

  .main-specialist__inner {
      flex-direction: column-reverse;
    }
  
    .main-specialist_info{
      margin:0 auto;
    }
  
    .main-specialist_bg{
      margin:0 auto;
    }
  
    .footer_left h1{
      padding-right: 30px;
    }


    

    /* -----------------contacts------------- */

    .all_contacts{
      padding-left:20px;
      font-size: 14px;
    }

    .contacts__inner_content img{
      width: 50%;
      padding-top: 100px;
      height: 100%;
      align-self: center;
    }

    .message-form__inner_form input{
      max-width:928px;
      margin-top:10px;
    }

  

    /* ------------------------------ */

    .technology_cards{
      grid-template-columns: repeat(2,1fr);
    }

    .technology_card{
      max-width: 350px;
    }

    .technology_card img{
      width: 350px;
    }

  }




  @media only screen and (max-width:780px){
    .technology_card{
      max-width: 250px;
    }

    .technology_card img{
      width: 250px;
    }

    .spec_line img{
      width: 100%;
    }


    .left-side{
      width:50%;
    }
  }


@media only screen and (max-width:1023px){
  .nav{
    display: none;
  }

  .mob-menu{
    /* display: flex;  */
    justify-content: center;
  }

  

  .mob-menu .nav{
    display: flex; 
    justify-content: center;
   
    font-size:20px;
  }

  .mob-menu .nav a{
    /* padding:0 25px; */
    padding-bottom:20px;
  }
  
  /* .drop_menu:hover .dropdown_menu-list{
    display: block;
  } */

  .dropdown_menu-list{
    top: 24px;
    /* left: 229px; */
    /* display: none; */
    /* position: absolute; */
    right: 135px;
  }




  .mob-menu_btn{
    display: block;
  }

  .mobile_buttons{
    display: block;
  }


  .other-staff_cards{
    flex-wrap: wrap;
  }

  .other-staff_card{
    padding-bottom:50px;
  }

}

@media only screen and (max-width:500px){

  .technology_card{
    max-width: 180px;
  }

  .technology_card img{
    width: 180px;
  }

  .mark-open{

      right: 220px;

  }
  
  .mark-close{

      left: 220px;

  }

  .staff__inner_main{
    flex-direction:column;
  }

  .staff__inner_main img{
    padding-left: 0;
    padding-bottom: 20px;
    width:86%;
    height: 50%;
    margin: 0 auto;
  }

  .main-staff_info {
    padding-left: 0px;
    width: 100%;
    max-width: 385px;
    margin: 0px auto;
  }

  .main-staff_info .btn-container{
    text-align: center;
  }

  .other-staff_card{
    padding-left: 0;
  }


  .footer__inner{
    grid-template-columns: 1fr;
    padding-left: 0;
  }

  .copyright{
    display: none;
  }

  .mobile-copyright{
    display:block;
    padding-top:50px;
  }

  .left-side{
    width:100%;
  }
}

@media only screen and (max-width:410px){
  .technology_card{
    max-width: 130px;
  }

  .technology_card img{
    width: 130px;
  }

  .footer_left h1{
    font-size: 180%;
  }
}

/* @media only screen and (max-width:980px){
.main-specialist__inner {
    flex-direction: column-reverse;
  }

  .main-specialist_info{
    margin:0 auto;
  }

  .main-specialist_bg{
    margin:0 auto;
  }

  .footer-left h1{
    padding-right: 30px;
  }
}

@media only screen and (max-width:800px){

  
  
} */

